#primary-nav {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
}

#primary-nav ul {
    grid-template-columns: repeat(auto-fit, minmax(91px, 1fr));
    display: flex;
    flex-direction: column;
}

.main-nav {
    grid-column: 1 / span 2;
    gap: var(--gutter);
    justify-self: center;
}

@media (min-width: 48em) {
    #primary-nav ul {
        display: flex;
        flex-direction: row;
   }
   .main-nav {
        grid-column: 2;
   }
   #hamburger {
    display: none;
    }
    .js-enabled .main-nav {
        display: flex;
   }
}

#hamburger {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    justify-content: end;
    display: flex;
    border: none;
    align-items: center;
    color: var(--text-1-light);
}

#hamburger #expanded {
    display: none;
}

#hamburger span {
    padding-inline-end: var(--space-xs);
    font-weight: 700;
}

#hamburger svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--text-1-light);
}

#hamburger[aria-expanded='true'] #expanded {
    display: block;
}
#hamburger[aria-expanded="true"] + .main-nav {
    display: block;
}
.js-enabled .main-nav {
    display: none;
}