/* Vector */
.arrow {
    position: absolute;
    left: 27%;
    top: 52%;
    transform: rotate(220deg);
    display: none;
}

@media (min-width: 70rem){
    .arrow {
        display: block;
    }
}

img.arrow {
    width: var(--space-xl-2xl);
}